@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oleo+Script:wght@400;700&family=Playball&family=Poiret+One&family=Rye&family=Yeseva+One&display=swap');


.jobs_banner{
    background-image: url(./slider-55.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    justify-content: right;
    color: white;
    margin: -1.5rem 0rem;
}
.jobs_description{
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: right;
    justify-content: right;
    padding: 5rem 7rem 0rem 0rem;
}
.jobs_title{
    font-size: 3.5rem;
}
.jobs_title hr{
    width: 40%;
    margin-right: -3rem;
    margin-top: 0.5rem;
}
.jobs_paragraph{
    font-size: 1.8rem;
}

.areas_section{
    background-color: white;
    padding: 3% 3% 7% 3%;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 1rem;
    /* margin-bottom: 2rem; */
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
}

.areas_section .title_img{
    margin-left: 48%;
}

.areas{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    /* column-gap: 2rem; */
    box-sizing: border-box;
    justify-content: center;
}

.areas_title{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(13, 27, 44);
    text-align: center;
    margin-bottom: 3rem;
}

.areas_card{
    margin: 1.5rem 0.5rem;
    text-align: center;
    /* width: max-content; */
    height: auto;
    /* border: 2px solid rgb(58, 87, 126); */
    background-color: white;
    box-shadow: 5px 5px 9px 4px rgb(138, 138, 138);
    border-radius: 2rem;
    padding: 2rem 1.5rem;
}
/* .areas_card2{
    margin: 1.5rem;
    text-align: center;
    height: auto;
    /* border: 2px solid rgb(58, 87, 126); 
    background-color: white;
    box-shadow: 5px 5px 9px 4px rgb(138, 138, 138);
    border-radius: 0rem 2rem 2rem 0rem;
    padding: 2rem 1.5rem;
} */

.areas_card-title {
    font-size: 2rem;
    font-weight: bolder;
    /* text-align: center; */
    color: rgb(58, 87, 126);
}
.areas_card-title:hover{
    transition: 0.2s ;
    color: rgb(13, 27, 44);
    border-right: 2px solid rgb(13, 27, 44);
    border-bottom: 2px solid rgb(13, 27, 44);
    border-bottom-right-radius: 1.2rem;
    padding: 0rem 0.6rem 0.4rem 0rem;
}

.areas_card p , .areas_card2 p{
    font-size: 1.2rem;
}



.areas_card-img{
    background-image: url(../Jobs/Family-Law-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
.areas_card-img2{
    background-image: url(../Jobs/Divorce-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 110px;
    height: 100px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
.areas_card-img3{
    background-image: url(../Jobs/Wrongful-Death-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
.areas_card-img4{
    background-image: url(../Jobs/Car-Accidents-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 125px;
    height: 100px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
.areas_card-img5{
    background-image: url(../Jobs/Personal-Injury-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
.areas_card-img6{
    background-image: url(../Jobs/Criminal-Defense-Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}


#areas_item{
    background-color: white;
    margin-top: 1rem;
    padding: 3% 8% 8% 8%;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

#areas_item h2{
    margin: 2.5rem 0rem; 
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(13, 27, 44);
    text-align: center;
}

#areas_item h3{
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(58, 87, 126);
    letter-spacing: 1px;
    margin-top: 4.5rem;
}

#areas_item p{
    font-weight: bolder;
}


@media screen and (max-width:1175px){
    .areas{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
    .areas_card{
        /* width: 480px; */
        box-sizing: border-box;
    }
}
@media screen and (max-width:1090px){
    .areas_section{
        justify-content: center;
        /* margin: auto; */
    }
    .areas_section .title_img{
        margin-left: 47%;
    }
    .areas{
        display: grid;
        box-sizing: content-box;
        /* grid-template-columns: 370px 370px; */
    }
    .areas_card{
        box-sizing: border-box;
        width: auto;
    }
}
@media screen and (max-width:985px){
    .areas_section{
        padding: 3% 13% 7% 13%;
        /* grid-template-columns: 200px 200px; */
    }
    .areas_card-title{
        font-size: 2.5rem;
    }
    .areas_card p{
        font-size: 1.7rem;
    }
    .areas{
        display: block;
    }
    .jobs_title{
        margin-right: -5rem;
        margin-top: 0rem;
    }
    .jobs_title hr{
        margin-right: 1rem;
        width: 45%;
    }
    .jobs_paragraph{
        margin-right: -8%;
        margin-left: 8%;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:800px){
    .areas_section .title_img{
        margin-left: 45%;
    }
    .areas_card p{
        font-size: 1.4rem;
    }
    .areas_section{
        margin-top: -1rem;
    }

    .jobs_title{
        margin-top: -1%;
    }
    .jobs_paragraph{
        margin-right: -13%;
        margin-left: 9%;
    }
    .jobs_banner{
        height: 55vh;
    }
}
@media screen and (max-width:629px){
    .areas_title{
        font-size: 2.5rem;
        margin-bottom: -0.7rem;
    }
    .areas_card{
        box-shadow: 0px 0px 0px;
    }

    .jobs_title{
        font-size: 3rem;
    }
    .jobs_paragraph{
        margin-right: -16%;
        margin-left: 9%;
    }
}

@media screen and (max-width:575px){
    #areas_item{
        margin-top: 0rem;
    }
}
@media screen and (max-width:548px){
    .areas_section{
        padding: 3% 7%;
        margin-top: -1rem;
    }
    .areas_title{
        font-size: 1.8rem;
    }
    .areas_card p{
        font-size: 1.2rem;
    }
    .areas_card-title{
        font-size: 2rem;
    }
    .areas_card{
        padding: 1rem ;
        box-shadow: 0px 0px 0px;
    }
    .jobs_title{
        margin-top: -1rem;
    }
    .jobs_paragraph{
        margin-top: -0.5rem;
        margin-right: -18%;
        margin-left: 9%;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:475px){
    .jobs_title{
        font-size: 2.5rem;
    }
    .jobs_paragraph{
        margin-right: -22%;
    }
}
@media screen and (max-width:395px){
    .jobs_title{
        font-size: 1.8rem;
    }
    .jobs_paragraph{
        /* font-size: 1.15rem; */
        margin-right: -30%;
    }
}

@media screen and (max-width:355px){
    .jobs_paragraph{
        /* font-size: 1.15rem; */
        margin-right: -42%;
    }
}