@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oleo+Script:wght@400;700&family=Playball&family=Poiret+One&family=Rye&family=Yeseva+One&display=swap');


.section_testimonial{
    background-color: white;
    margin-top: 1rem;
    padding: 2.5% 6% 8% 6% ;
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
    justify-items: center;
}

.testimonial_title{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(13, 27, 44);
    text-align: center;
    margin-bottom: 3.5rem;
}

.testimonial{
    grid-template-columns: repeat(2, 450px)  ;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
}

.testimonial_card , .testimonial_card2{
    margin: 1.5rem 0.5rem;
    width: 420px;
    padding: 5% ;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    box-shadow: 5px 5px 9px 4px rgb(138, 138, 138);
    box-sizing: border-box;
    border-radius: 1rem;
}



.testimonial_head h3{
    font-size: 1.5rem;
    color: rgb(46, 46, 46);
    margin-bottom: 0.5rem;
}
.job_title{
    color: rgba(44, 44, 44, 0.986);
    margin-bottom: -1rem;
}
.job_invisible{
    visibility: hidden;
}

.tst_description{
    color: rgba(44, 44, 44, 0.651);
    /* text-align: center; */
    margin-left: -2.5rem;
}
.tst_shape{
    /* font-size: 3.5rem; */
    color: rgb(85, 141, 204);
}
.testimonial_list li{
    display: inline-block;
}

.img{
    background-image: url(pexels-creation-hill-16810102.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 5rem;
    margin-left: 1.5rem;
}
.img2{
    background-image: url(pexels-pixabay-2204532.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 5rem;
    margin-left: 1.5rem;
}
.testimonial_head{
    margin-top: -5rem;
    margin-left: -1rem;
    /* margin-left: 30%; */
}
/* .testimonial_img2{
    background-image: url(pexels-pixabay-2204532.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin-top: 1.5rem;
    margin-left: 30%;
    border-radius: 5rem;
} */


@media screen and (max-width:1150px){
    /* .section_testimonial{
        padding: 5% 2%;
    }
    .testimonial{
        box-sizing: border-box;
    }
    .testimonial_card , .testimonial_card2{
        width: 420px;
        box-sizing: border-box;
        margin-left: 2rem;
    }
    /* .testimonial_card2{
        margin-left: -2rem;
    } */
    /* .testimonial_head h3{
        font-size: 1.5rem;
    }  */
}

@media screen and (max-width:1050px){
    .testimonial{
        display: block;
        padding: 3% 12%;
        margin: auto;
    }
    .testimonial_card , .testimonial_card2{
        width: fit-content;
        margin: 1rem;
        box-sizing: border-box;
    }
    .tst_description{
        font-size: 1.35rem;
    }
    .testimonial_head{
        text-align: center;
    }
    .testimonial_head h3{
        font-size: 1.8rem;
        margin-top: -1rem;
    }
    .job_title{
        font-size: 1.2rem;
    }
    .img , .img2{
        width: 180px;
        height: 180px;
        border-radius: 8rem;
        margin-right: -0.2rem;
    }
}

@media screen and (max-width:875px){
    .section_testimonial .title_img{
        margin-left: 46%;
    }
    .testimonial_head h3{
        font-size: 1.5rem;
    }
    .job_invisible{
        margin-bottom: 2rem;
    }
    .tst_description{
        font-size: 1.25rem;
    }
    .job_title{
        font-size: 1.1rem;
    }
    .img , .img2{
        width: 150px;
        height: 150px;
        border-radius: 8rem;
        margin-left: 0.2rem;
    }
}

@media screen and (max-width:795px){
    .section_testimonial{
        padding: 3% 8%;
    }
    .testimonial{
        padding: 3% 8%;
    }
    .testimonial_head{
        text-align: left;
        margin-left: -2rem;
    }
    .img , .img2 {
        margin-left: 0.2rem;
        width: 140px;
        height: 140px;
    }
  
}

@media screen and (max-width:687px){
    .testimonial_title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .testimonial_head h3{
        font-size: 1.3rem;
    }
    .tst_description{
        margin-top: -1rem;
        font-size: 1rem;
    }
    .job_title{
        font-size: 0.85rem;
    }
    .img , .img2{
        width: 100px;
        height: 100px;
        margin-left: 0.2rem;
    }
}

@media screen and (max-width:587px){
    .section_testimonial{
        justify-content: center;
        padding: 3% 5%;
        margin-top: -1rem;
    }
    .section_testimonial .title_img{
        margin-left: 45%;
    }
    .testimonial{
        padding: 3% 7%;
        margin-bottom: 3rem;
    }
    .testimonial_title{
        font-size: 2.2rem;
    }
    .img , .img2{
        margin-left: 0rem;
        width: 90px;
        height: 90px;
    }
    .tst_description{
        margin-top: -1.2rem;
        font-size: 0.9rem;
    }
    .testimonial_head{
        justify-content: center;
        justify-items: center;

    }
    .testimonial_head h3{
        font-size: 1.2rem;
    }
    /* .testimonial_card, .testimonial_card2{
        box-shadow: 0px 0px 0px;
    } */
}

@media screen and (max-width:500px){
    .section_testimonial{
        padding: 3% 4%;
    }
    .testimonial_title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .testimonial_head h3{
        font-size: 1rem;
    }
    .job_title{
        font-size: 0.7rem;
    }
    .testimonial_card , .testimonial_card2{
        margin-top: 0rem;
    }
    .img , .img2{
        width: 80px;
        height: 80px;
        margin-left: -2rem;
    }
    /* .testimonial_head h3{
        font-size: 1rem;
    } */
  
}

@media screen and (max-width:442px){
    .section_testimonial{
        padding: 3% 1%;
    }
    .testimonial{
        padding: 3% 1%;
    }
    .testimonial_head{
        margin-left: -2rem;
    }
    /* .testimonial_head h3{
        font-size: 1rem;
    }
    .job_title{
        font-size: 0.75rem;
    } */
    .img , .img2{
        width: 70px;
        height: 70px;
        /* margin-left: -2rem; */
    }
}